
h2,h3, h4, h6 {
	text-align: center;
	color: #0a294b;
	font-family: Aria;
	text-shadow: 3px 3px 7px #666666;
}
h1{
	font-size: 2em;
	font-weight: normal;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 1px #0a294b;
}
h2{
	font-size: 1.7em;
}
.centrovany{
	text-align: center;
}
body{

	background:url('../pictures/pozadi.png');
	font-family: Verdana;	
}
article header{
	width: 250px;
	float: left;
}
article section{
	width: 710px;
	float: left;
	background: white;
}